.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 380px;
  padding: 29px 94px 29px 94px;
  gap: 15px;
  height: 100%;

  h2 {
    color: white;
    font-family: 'Lancelot', sans-serif;
    font-weight: normal;
  }

  input {
    background: #465049;
  }
}

.layout {
  height: 100vh;
  box-sizing: border-box;
  h1 {
    font-size: 120px;
    font-family: 'Lancelot', sans-serif;
  }
}

.background {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: 100% 100%;
}

.titleOverlay {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.link {
  color: #aeaeae;
}

.buttonBox {
  gap: 40px;
  display: flex;
  align-items: center;
}

.name {
  margin: 0;
  font-size: 20px;
}

.loginBg {
  background-image: url('../../assets/images/alh-background.png');
}

.profileBg {
  background-image: url('../../assets/images/alh-background.png');
}
