.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  max-height: 320px;
  max-width: 380px;
  padding: 29px 94px 29px 94px;
  gap: 15px;
  height: 1000px;

  h2 {
    color: #c8c8c7;
    font-family: var(--bookman-font), sans-serif;
  }

  input {
    background: #465049;
    color: #c8c8c7 !important;
  }

  button {
    background-color: #c8c8c7;
    border: none;
    text-align: center;
    color: black;

    &:hover {
      opacity: 0.5;
      transition: 0.4s;
    }
  }

  .linkButton {
    color: #aeaeae !important;
    background-color: transparent !important;
    text-decoration: underline;

    &:hover {
      opacity: 0.5;
      transition: 0.4s;
    }
  }
}

.wrapperProfile {
  margin-top: 140px;
  max-height: calc(100vh - 140px);
  overflow: auto;
}

.formProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  max-width: 380px;
  padding: 29px 94px 29px 94px;
  gap: 15px;

  h2 {
    color: #c8c8c7;
    font-family: var(--bookman-font), sans-serif;
  }

  input {
    background: #465049;
    color: #c8c8c7 !important;
  }

  button {
    background-color: #c8c8c7;
    border: none;
    text-align: center;
    color: black;
  }
}

.form_register {
  max-height: 440px;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  h1 {
    font-size: 120px;
    line-height: 186px;
    font-family: var(--lancelot-font), sans-serif;
  }
}

.profileLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1240px;
  height: calc(100vh - 30px);
  background-image: url(/src/assets/images/backgrounds/alh-background.png);
  background-size: 100% 100%;
  margin-top: 12px;
}

.backgroundProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1240px;
  height: 100vh;
  background-image: url(/src/assets/images/backgrounds/profile-background.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.titleOverlay {
  text-align: center;
  width: 100%;
  background-color: var(--color-background);
  height: 226px;
  margin-top: 76px;
  position: relative;
}

.titleOverlay_register {
  margin-top: 196px;
}

.link {
  color: #aeaeae;
  
  &:hover {
    opacity: 0.5;
    transition: 0.4s;
  }
}

.musicButton {
  background-image: url(/src/assets/images/icons/skill3-pic.png);
  width: 26px;
  height: 23px;
  background-size: cover;
  position: absolute;
  top: 28px;
  left: 778px;
  border: none;
  background-color: transparent;
}

.buttonBox {
  display: flex;
  align-items: center;
  gap: 50px;
}
