.textButton {
  word-spacing: 3px;
  font-family: 'Lancelot', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  border: none;
  background-color: transparent;
  color: initial;
}

.textButton:hover {
  opacity: .5;
  cursor: pointer;
}