{
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "trailingComma": "es5",
  "width": 120,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false
}
