.background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1240px;
  height: 100vh;
  background-image: url('../../assets/images/backgrounds/alh-background.png');
  background-size: 100% 100%;
  margin: 0 auto 0 auto;
}

.item {
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  gap: 16px;
  width: 580px;
  position: relative;
  box-sizing: border-box;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.title {
  font-family: var(--bookman-font), serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #aeaeae;
}

.rangName {
  font-family: var(--bookman-font), serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.scoreWrapper {
  display: flex;
  gap: 8px;
}

.score,
.time {
  margin: 0;
  font-family: var(--bookman-font), serif;
  font-size: 0.7rem;
  font-weight: normal;
  color: #aeaeae;
}

.avatarContainer {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
}

.leadersAvatarContainer {
  flex-shrink: 0;
  width: 50px !important;
  height: 50px !important;
  position: relative;
  display: inline-block;

  & > div:first-of-type {
    width: 50px !important;
    height: 50px !important;
  }
}

.icon {
  position: absolute;
  bottom: 0;
  left: 20px;
  top: 20px;
  width: 45px;
  height: 40px;
  object-fit: cover;
  background-size: cover;
}

.skill {
  &__first {
    background-image: url('../../assets/images/icons/skill1-pic.png');
  }

  &__second {
    background-image: url('../../assets/images/icons/skill2-pic.png');
  }

  &__third {
    background-image: url('../../assets/images/icons/skill3-pic.png');
  }

  &__fourth {
    background-image: url('../../assets/images/icons/skill-4-pic.png');
  }
}
