:root {
  --gray-color: #aeaeae;
  --color-background: rgba(0, 0, 0, 0.7);
  --bookman-font: 'Bookman Old Style';
  --lancelot-font: 'Lancelot';
  --amatic-font: 'Amatic SC';
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Lancelot';
  src: url('assets/fonts/Lancelot/Lancelot-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bookman Old Style';
  src: url('assets/fonts/Bookman Old Style/BOOKOS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('assets/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
