.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  height: calc(100vh - 200px);
  overflow-y: scroll;
  width: 1100px;
  padding: 36px 42px 32px;
  gap: 24px;
  margin-top: 20px;
  border-radius: 10px;
  box-sizing: border-box;

  h2 {
    color: #D9D9D9;
    font-size: 46px;
    line-height: 44px;
    letter-spacing: 0.1em;
    font-family: var(--lancelot-font), sans-serif;
    font-weight: normal;
    margin: 0;
    width: max-content;
    text-transform: uppercase;
  }

  p {
    color: #D9D9D9;
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.1em;
    font-weight: normal;
    font-family: var(--bookman-font), sans-serif;
    text-align: center;
  }
}

.layout2 {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  gap: 24px;
  background-color: var(--color-background);
  width: 100%;

  p {
    color: #D9D9D9;
    margin: 0;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0.1em;
    font-weight: normal;
    font-family: var(--bookman-font), sans-serif;
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
  }
}

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;

  h1 {
    font-size: 120px;
    font-family: var(--lancelot-font), sans-serif;
  }
}

.background {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1240px;
  height: 100vh;
  background-image: url('../../assets/images/background-aboutgame.png');
  background-size: 100% 100%;
}

.titleOverlay {
  text-align: center;
  width: 100%;
  background-color: var(--color-background);
}

.book {
  height: 174px;
  width: 214px;
  background-image: url('../../assets/images/book-small-pic.png');
}

.skill1 {
  height: 86px;
  width: 86px;
  background-image: url('../../assets/images/skill1-pic.png');
}

.skill2 {
  height: 80px;
  width: 80px;
  background-image: url('../../assets/images/skill2-pic.png');
}

.skill3 {
  height: 75px;
  width: 82px;
  background-image: url('../../assets/images/skill3-pic.png');
}

.potion1 {
  height: 78px;
  width: 70px;
  background-image: url('../../assets/images/potion1-pic.png');
}

.potion2 {
  height: 96px;
  width: 76px;
  background-image: url('../../assets/images/potion2-pic.png');
}

.potion3 {
  height: 105px;
  width: 84px;
  background-image: url('../../assets/images/potion3-pic.png');
}
