.button {
  border: none;
  min-width: 62px;
  min-height: 62px;
  border-radius: 50%;
  background-image: url(../../../assets/images/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 2px gray;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}